/**
 * Created by wangwenjun on 2018/3/15.
 * project name ...
 */
body,html{
    color: white;
    background: #151A30;
}
.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.login-box{
    width: 540px;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(0,0,0,.3);
    color: #fff;
    padding: 32px;
}
.btn>a{
    color: white;
}
.btn>a:hover{
    text-decoration: none;
}
.btn>a>span{
    margin-left: 5px;
}
.btn-primary{
    border-radius: 5px;
}
.username-verification{
    position: absolute;
    top: 36px;
    left: 16px;
    color: #209E91;
}
.password-verification{
    position: absolute;
    top: 36px;
    left: 16px;
    color: #209E91;
}

/*bootstrap改造*/
.col-md-4{
    position: relative;
}
h4{
    color: #209E91;
}
.pull-right{
    color: #209E91;
}
.pull-right:hover{
    color: #1F5752;
    text-decoration: none;
}
.form-group{
    position: relative;
}
.form-control{
    background: transparent;
    color: white;
    margin-bottom: 10px;
}
